
html {
    scroll-behavior: smooth; 
}

body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)), url('../iconsalf/wallpaper.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed; 
}




::-webkit-scrollbar {
    display: none; }


header {
    position: fixed;
    top: 0; 
    left: 0px;
    width: 100%; 
    background-color: #fff; 
    z-index: 1000; 
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; 
    padding: 10px; 
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}


.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
    height: 50px; 
    margin-right: 10px; 
    filter: drop-shadow(2px 2px 4px gold);
}

@keyframes glow-animation {
    0% {
        filter: drop-shadow(0 0 10px gold);
    }
    50% {
        filter: drop-shadow(0 0 20px gold);
    }
    100% {
        filter: drop-shadow(0 0 10px gold);
    }
}

.glowing-image {
    animation: glow-animation 2s infinite alternate;
    height: 200px; 
}


.logo h1 {
    margin: 0;
    color: white; 
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; }

nav li {
    float: left;
}

nav li a {
    display: block;
    color: gold; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s;  
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; }

nav li a:hover {
    background-color: #ddd;
    color: black; 
}















@keyframes fadeInBlur {
    0% {
        opacity: 0; 
        filter: blur(20px); 
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1; 
        filter: blur(0);
        transform: translateY(0); 
    }
}

.home-section {
    text-align: center;
    opacity: 0; 
    animation: fadeInBlur 1s forwards; 
    margin: 200px;
}


.home-section h2 {
    margin-bottom: 20px; 
    color: white; 
    font-size: 65px; 
}

.home-section p {
    color: white; 
    font-size: 40px; 
}


.glow {
    color: gold; 
    text-shadow: 0 0 10px gold; 
    animation: glowAnimation 1.5s ease-in-out infinite alternate; 
}

@keyframes glowAnimation {
    from {
        text-shadow: 0 0 10px gold; 
    }
    to {
        text-shadow: 0 0 20px gold; 
    }
}












.about-us-section {
    padding-top: 120px; 
}




.team-section {
    text-align: center; 
    display: flex; 
    justify-content: center; 
    gap: 280px; 
    font-family: 'Roboto', sans-serif; 
    
}


.team-member:nth-child(1) p {
    background: #a38d0f00; 
    border-radius: 10px; 
    padding: 15px; 
    font-family: 'Roboto', sans-serif; 
    font-size: 25px; 
    color:#ffffff; 
    backdrop-filter: blur(45px);
}


.team-member:nth-child(2) p {
    background: #a38d0f00; 
    border-radius: 10px; 
    padding: 15px; 
    font-family: 'Roboto', sans-serif; 
    font-size: 25px; 
    color: #ffffff; 
    backdrop-filter: blur(45px);
}







.team-member {
    flex: 1; 
    max-width: 400px; 
}

.team-member img {
    width: 150px; 
    height: auto; 
    border-radius: 50%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease; 
}


.team-member img:hover {
    transform: scale(1.1); 
}


.team-member h3 {
    margin-top: 10px; 
    color: white; 
    font-size: 30px;
    font-family: 'Roboto', sans-serif; 
}




.about-us-section h2,
.about-us-section p {
    color: white; 
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: center; 
    font-size: 30px;
    font-weight: bold;    
}


@keyframes fadeInBlur {
    0% {
        opacity: 0; 
        filter: blur(20px); 
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1; 
        filter: blur(0); 
        transform: translateY(0); 
    }
}





















.servizi-section {
    text-align: center;
    padding: 50px 0;
    margin-top: 400px;
    font-family: 'Roboto', sans-serif; 
}

.servizi-section h2 {
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
    font-size: 35px;
    
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.service {
    flex: 0 1 300px; 
}

.service img {
    width: 100px;
    height: 100px;;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.service h3 {
    color: white;
    margin-top: 20px;
    
}

.service h1 {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(45px); }





@keyframes fadeInBlur {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
    }
}









#telegram-group {
    margin-left: 25%;
    margin-top: 20%;
}

.telegram-position {
    display: flex;
    align-items: center;
    max-width: 800px; }

.icons {
    display: flex;
}

.telegram-icon {
    width: 100px;     
    height: auto;
    margin: 0 auto 10px;     
    display: block; }


.phone-image {
    width: 300px;     
    height: auto;
    margin-left: 20%;
}


.telegram-left {
    max-width: 35%;     
    text-align: left;     
    color: white;
    backdrop-filter: blur(40px); 
    padding: 20px;
    font-size: 23px;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; }

.telegram-left h3 {
    color: gold;
}






















#recensioni-section {
    text-align: center;
    padding: 50px 0;
    padding-top: 210px;
    animation: fadeInBlur 1s forwards;
}

.recensioni-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif; 
}

.recensioni-slider {
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    margin-bottom: 20px;
}

.recensione img {
    max-width: 280px;
    height: auto;
    margin-right: 10px;
}
.recensioni-slider {
    display: flex;
    white-space: nowrap;
}

.recensione {
    display: none;
}
.recensione:first-child {
    display: block;
}

.recensioni-slider img {
    flex: 0 0 auto;
    margin-right: 10px; }

.recensioni-slider img:last-child {
    margin-right: 0; }



.telegram-button {
    background-color: #367b9b;
    color: #fff;
    padding: 25px 30px; 
    border: none;
    border-radius: 8px; 
    font-size: 18px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden; 
    margin-top: 20px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; }

.telegram-button img {
    position: absolute;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
    height: 30px; 
    transition: transform 0.3s ease; 
}


.telegram-button:hover img {
    transform: translateY(-50%) scale(1.5); 
}

.telegram-button span {
    margin-left: 45px;
    position: relative; 
    display: inline-block;
    vertical-align: middle; 
}

.telegram-button:hover {
    background-color: #29b6f6;
    transform: scale(1.1);
}





#terms-and-condition {
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
}

.termini-condizioni {
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
}

.termini-condizioni a {
    text-decoration: none; 
    color: #ffffff; 
}

.termini-condizioni a:hover {
    text-decoration: underline; 
}













#contatti-section {
    text-align: center;
    padding: 1px 0;
    backdrop-filter: blur(40px); 
    border-radius: 15px;
}


.contatti-container {
    display: flex;
    justify-content: center;
}

.contatto {
    margin: 0 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: #ffffff;
}

.contatto img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.contatto p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
}

.contatto:hover {
    transform: translateY(-5px);
}





.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slider-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}








@media only screen and (max-width: 480px) {
        
    body {
        background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)), url('../iconsalf/Pwallpaper.jpeg');
        background-size:contain; 
        background-position: center; 
        background-repeat: no-repeat;
        background-color: black;
        background-attachment: fixed; 
    }

    header {
        display: none;
        top: 0; 
        width: 100%; 
        background-color: #fff; 
        z-index: 1000; 
       
    }

    
    .home-section {
        margin: 0 auto; 
        margin-left: 0;         
        padding-left: 0;         
        margin-top: 90px;
    }
    
    .home-section h2 {
        margin-bottom: 20px; 
        color: white; 
        font-size: 45px; 
    }

    .home-section p {
        color: white; 
        font-size: 25px; 
    }

    body {
        font-size: 5px;     }
    
    .logo-container {
        text-align: center;     }
    
    .logo {
        display: inline-block;     }
    
    .logo img {
        vertical-align: middle;         
        margin-right: 20%;
    }
    
    h1 {
        margin-top: 10px;     }




















    .about-us-section {
        padding-top: 120px; 
        font-size: 20px;
    }
    
    
    
    
    .team-section {
        text-align: center; 
        display: contents; 
        justify-content: center; 
        gap: 10px; 
        font-size: 25px;
    }
    
    
    .team-member:nth-child(1) p {
        background: #a38d0f00; 
        border-radius: 10px; 
        padding: 12px; 
        font-family: 'Roboto', sans-serif; 
        font-size: 18px; 
        color:#ffffff; 
        backdrop-filter: blur(45px);
    }
    
    
    .team-member:nth-child(2) p {
        background: #a38d0f00; 
        border-radius: 10px; 
        padding: 12px; 
        font-family: 'Roboto', sans-serif; 
        font-size: 18px; 
        color: #ffffff; 
        backdrop-filter: blur(45px);
    }
    
    
    .team-member img {
        width: 100px; 
        margin-left: -5px;
        height: auto; 
        border-radius: 50%; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
        transition: transform 0.3s ease; 
    }
    
    
    











    #telegram-group {
        margin-left: 0%;
        margin-top: 20%;
    }
    
    .telegram-position {
        display: flex;
        align-items: center;
        max-width: 800px;     }
    
    .icons {
        display: flex;
    }
    
    .telegram-icon {
        width: 100px;         height: auto;
        margin: 0 auto 10px;         display: block;     }
    
    
    .phone-image {
        width: 300px;         height: auto;
        margin-left: 20%;
        display: none;
    }
    
    
    .telegram-left {
        max-width: 100%;         text-align: left;         color: white;
        backdrop-filter: blur(40px); 
        padding: 20px;
        font-size: 23px;
        text-align: center;
        font-family: 'Roboto', sans-serif; 
        font-weight: bold;     }
    
    .telegram-left h3 {
        color: gold;
    }
    





























    .telegram-button {
        background-color: #4fc3f7;
        color: #fff;
        padding: 15px 20px; 
        border: none;
        border-radius: 8px; 
        font-size: 18px; 
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        position: relative;
        overflow: hidden; 
        margin-left: 1px;
    }
    
    .telegram-button img {
        position: absolute;
        left: 20px; 
        top: 50%;
        transform: translateY(-50%);
        height: 30px; 
        transition: transform 0.3s ease; 
    }
    
    
    .telegram-button:hover img {
        transform: translateY(-50%) scale(1.5); 
    }
    
    .telegram-button span {
        margin-left: 45px;
        position: relative; 
        display: inline-block;
        vertical-align: middle; 
    }



    .servizi-section h2 {
        color: white;
        font-family: Arial, sans-serif;
        margin-bottom: 30px;
        font-size: 35px;

    }
    .service h3 {
        color: white;
        margin-top: 20px;
        font-size: 25px;
    }

    #contatti-section {
        overflow-x: auto;         white-space: nowrap;         padding-left: 10px;         padding-right: 10px;     }
    
    .contatto {
        display: inline-block;         width: 150px;         height: auto;         margin-right: 10px;     }
    
    
}
